.btn{
    padding: 25px 55px;
    border-radius: var(--btn-radius);
}
.secondary-btn{
    background-color: var(--color-secondary);
    color: var(--color-white);
    border: 0;
}

.outline-btn{
    background-color: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
}
