.section-subtitle {
    display: flex;
    gap: 15px;
    align-items: center;
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 15px;
}

.section-center .section-subtitle{
    justify-content: center;
}
.section-subtitle>div {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: var(--gradient-primary);
}

.section-description {
    font-size: 16px;
    line-height: 35px;
    margin-top: 25px;
}

.section-title {
    font-size: var(--text-size-header);
    color: var(--color-primary);
}

.section-white .section-title,
.section-white .section-description,
.section-white .section-description > p
{
    color: var(--color-white);
}

.section-white .section-subtitle {
    background: var(--color-white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
 .section-white .section-subtitle > div{
    background: var(--color-white);
 }
