.aboutUs-card{
    padding: 25px;
    border-radius: var(--border-radius);
    gap: 10px;
    box-shadow:  0px 10px 70px 0px rgba(var(--color-black-rgb), 0.08);
}

.location-info{
    display: flex;
    flex-direction: column;
}
.label{
    color: var(--color-primary);

}

.info-value{
    color: var(--color-primary);
    font-size: 10px;
}
