
.aboutUs-card{
    display: flex;
    padding: 25px 25px;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    gap: 10px;
    align-items: start;
}

.location-info{
    display: flex;
    flex-direction: column;
}
.label{
    color: var(--color-primary);

}

.info-value{
    color: var(--color-primary);
    font-size: 10px;
}

.contactUs-form{
    border-radius: var(--border-radius);
    padding: 15px;
    background-color: var(--color-white);
}

.contactUs-form-input{
    color:var(--color-gray);
    width: 100%;
    padding: 10px;
    border-radius: var(--input-radius);
    border: 0;
    box-shadow: 0 0px 3.5px rgba(var(--color-black-rgb), 0.3);
}


