.contactUs-container{
    border-radius: var(--border-radius);
    padding: 15px;
    background-color: var(--color-white);
}

.contactUs-form-input{
    color:var(--color-gray);
    width: 100%;
    padding: 10px;
    border-radius: var(--input-radius);
    border: 0;
    box-shadow:  0px 10px 70px 0px rgba(var(--color-black-rgb), 0.08);
}

.contactUs-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

