.nav-bar {
    position: absolute;
    top: 30px;
    z-index: 1000;
    padding: 15px 30px;
    width:100%
}

.container {
    border-radius: var(--border-radius);
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: var(--width);
    margin: auto;
    padding: 15px 30px;
}

.header-logo img {
    width: 114px;
    height: 50px;
}

.menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.item a {
    color: var(--color-primary);
    font-size: 16px;
    font-family: "Unbounded";
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.social-link {
    width: 40px;
    height: 40px;
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link i {
    color: var(--color-white);
    font-size: 16px;
}
