.main-slider-item {
    position: relative;
    width: 100%;
    aspect-ratio: 1920 / 905;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

}
.main-slider-item::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(var(--color-primary-rgb), 0.80);
    z-index: 1;
}
.main-container {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: start;
    flex-direction: column;
}
.main-container > a{
    margin-top:15px;
}

.header-title > span {
    color: transparent;
    -webkit-text-stroke: 0.5px var(--color-secondary);
    text-shadow: none;

}

.header-title {
    font-size: var(--text-size-header);
    margin: 0;
    color: var(--color-white);

}

