.plan-cards > .col-4:first-child .plan-card {
    background-color: var(--color-white);
    box-shadow: 0 0px 3.5px rgba(var(--color-black-rgb), 0.3);
}

.plan-cards > .col-4:first-child .plan-type,
.plan-cards > .col-4:first-child .plan-price {
    color: var(--color-primary);
}

.plan-cards > .col-4:first-child .plan-features > li {
    color: var(--color-primary);
    font-size: 12px;
}

.plan-cards > .col-4:first-child .pay-btn{
    color: var(--color-primary);
    border-color: var(--color-primary);
}
