.plan-card{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    padding: 40px;
}

.plan-info{
    display: flex;
    flex-direction: column;

}

.plan-type{
    color: var(--color-white);
    font-size: 14px;
}

.plan-price{
    color: var(--color-white);
    font-size: var(--text-size-header);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-gray);
    margin-top: 10px;
}
.plan-price > span{
    color: var(--color-gray);
    font-size: 16px;
    white-space: nowrap;
}

.plan-features{
    margin-top: 25px;
    font-size: 12px;
}

.plan-features > li:not(:first-child) {
    margin-top: 15px;
}
.plan-features > li::marker{
    content: "✓ ";
}
.start-project-btn{
    display: flex;
    justify-content: center;
}

.pay-btn{
    margin-top: 50px;
}

.col-4:first-child .plan-card {
    background-color: var(--color-white);
    box-shadow: 0 0px 3.5px rgba(var(--color-black-rgb), 0.3);
}

 .col-4:first-child .plan-type,
 .col-4:first-child .plan-price {
    color: var(--color-primary);
}

 .col-4:first-child .plan-features > li {
    color: var(--color-primary);
    font-size: 12px;
}

 .col-4:first-child .pay-btn{
    color: var(--color-primary);
    border-color: var(--color-primary);
}
