.plan-card{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--border-radius);
    padding: 40px;
    align-items: flex-start;
    text-align: start;
}

.plan-info{
    display: flex;
    flex-direction: column;
}

.plan-type{
    font-size: 14px;
}

.plan-price{
    font-size: var(--text-size-header);
    padding-bottom: 10px;
    padding-right: 35px;
    border-bottom: 1px solid var(--color-gray);
    margin-top: 10px;
}
.plan-price > span{
    color: var(--color-gray);
    font-size: 16px;
    white-space: nowrap;
}

.plan-features{
    font-size: 12px;
    display: flex;
    flex-direction: column;

    gap: 10px;
}
.plan-features > li::marker{
    content: "✓ ";
}

.pay-btn{
    margin-top: 80px;
}

/* ******************************************

/* if bg white */

.plan-card{
    box-shadow:  0px 10px 70px 0px rgba(var(--color-black-rgb), 0.08);
}

.plan-card.bg-white .plan-type,
.plan-card.bg-white .plan-price,
.plan-card.bg-white .plan-features > li {
    color: var(--color-primary);
}

.plan-card.bg-white .pay-btn {
    color: var(--color-primary);
    border-color: var(--color-primary);
}
/********************************************/
.plan-card.bg-primary .plan-type,
.plan-card.bg-primary .plan-price,
.plan-card.bg-primary .plan-features > li {
    color: var(--color-white);
}

.plan-card.bg-primary .pay-btn {
    color: var(--color-white);
    border-color: var(--color-white);
}
